body{

    background: fixed;
    background-color: blueviolet;

}

h1{

    color: red;
    font-size: 200px;

}

p{

    font-size: 20px;

}

span{

    font-size: 130px;
    color: black;
    opacity: 0.9;

}
