body {

    background-color: #f0f0f0;

}

h1 {

    color: #333333;
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;

}

p{

    color: #666666;
    font-size: 16px;
    text-align: center;
    font-family: Arial, sans-serif;
    
}