body{

    height: fit-content;
    width: 100%;
    background-color: red;

}

h3{

    color: black;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}

p{

    color: blueviolet;
    font-weight: 500;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

