body{

    background-color: #f0f8ff;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

h1{

    text-align: center;
    margin-top: 50px;

}

p{

    font-size: 18px;
    line-height: 1.6;
    margin: 20px;

}