body {

    margin: 40px;
    background-color: black;

}

h1{

    color : rgb(117, 56, 56);
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;

}

p{

    color : rgb(18, 6, 70);
    font-size: 30px;
    font-family: fantasy;
    font-weight: 300;

}
