body{

    height: fit-content;
    width: 100%;
    background-color: lightgreen;

}

h1{
    color: darkgreen;
    font-size: 40px;
    font-weight: 800;
    font-family: 'Arial Black', Gadget, sans-serif;
}

p{

    color: darkblue;
    font-weight: 600;
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;

}