body{

    background-color: yellowgreen;

}

h2{

    color: red;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif ;
    font-weight: 700;
    opacity: 0.7;

}

p{

    color: blue;
    font-size: 27px;
    font-family: monospace;
    font-weight: 400;

}

