body {

    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 80px;

}

h1 {

    color: #943f3f;
    text-align: center;
    margin-bottom: 20px;

}


p {

    font-size: 18px;
    line-height: 1.6;
    color: #235746;
    max-width: 600px;
    margin: 0 auto;

}