body {
  background-color: black;
  height: 100%;
  width: 100%;
}

h2 {
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 20px;
}

p {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}
