body {
  background-color: azure;
}

h3 {
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  font-style: inherit;
  color: blueviolet;
}

p {
  color: blue;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
