body{

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}

h1{

    color: blue;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;

}


p{

    font-size: 20px;
    color: green;

}