body{

    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    padding: 20px;

}



h1{

    font-size: 36px;
    color: #333333;
    text-align: center;
    margin-bottom: 20px;


}


p{

    font-size: 18px;
    color: #666666;
    line-height: 1.6;
    margin-bottom: 15px;

}