body {
  background-color: lightcoral;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h2 {
  color: white;
  font-size: 40px;
}

p {
  color: white;
  font-size: 20px;
}

button {
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}