body{

    background-color: black;
    height: 100%;
    width: 100%;

}

h4{

    font-size: 50px;
    font-weight: 800;
    font-family: monospace;
    font-display: optional;
    color: bisque;

}

p{

    font-size: 30px;
    font-weight: 800;
    font-family: monospace;
    font-display: optional;
    color: rgb(187, 111, 18);

}


a{

    text-decoration: none;
    color: aqua;
    font-size: 45px;
    font-family: italic;

}