body {
  background-color: rgb(0, 0, 0);
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
  color: darkred;
}

p {
  font-size: 20px;
  margin-top: 10px;
  color: white;
}

.p2 {
  font-size: 18px;
  margin-top: 8px;
  color: lightblue;
}