
body{

    background-color: #f0f8ff;

}

h1{

    color: #4682b4;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
    text-shadow: 2px 2px 4px #aaa;

}

p{

    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin: 20px;

}
