body{

    height: fit-content;
    width: fit-content;

}

h1{

    font-size: 34px;
    color: blueviolet;

}

p{

    font-size: 1px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}